<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="css/style.css" />
        <title>Website: ERROR</title>
    </head>

    <body class="bg-gray-100 text-gray-800 dark:text-gray-200">
        <!-- Navigation Bar -->
        <nav class="bg-gray-900 flex justify-between items-center p-5">
            <div id="logo" class="ml-3">
                <a href="/">
                    <img class="h-12 w-12" src="images/logo.png" alt="Logo" />
                </a>
            </div>
            <div id="menu">
                <ul class="flex space-x-5 text-gray-300">
                    <a href="/">
                        <li
                            class="m-2 p-4 hover:text-gray-900 hover:bg-gray-100 hover:font-bold rounded-lg transition-all duration-350 ease-in-out"
                        >
                            Home
                        </li>
                    </a>

                    <a href="/shop">
                        <li
                            class="m-2 p-4 hover:text-gray-900 hover:bg-gray-100 hover:font-bold rounded-lg transition-all duration-350 ease-in-out"
                        >
                            Shop
                        </li>
                    </a>

                    <a href="/about">
                        <li
                            class="m-2 p-4 hover:text-gray-900 hover:bg-gray-100 hover:font-bold rounded-lg transition-all duration-350 ease-in-out"
                        >
                            About
                        </li>
                    </a>
                    <a href="/contact">
                        <li
                            class="m-2 p-4 hover:text-gray-900 hover:bg-gray-100 hover:font-bold rounded-lg transition-all duration-350 ease-in-out"
                        >
                            Contact
                        </li>
                    </a>

                    <a href="/login">
                        <li
                            class="m-2 p-4 hover:text-gray-900 hover:bg-gray-100 hover:font-bold rounded-lg transition-all duration-350 ease-in-out"
                        >
                            Login
                        </li>
                    </a>
                </ul>
            </div>
        </nav>

        <h1>ERROR</h1>
    </body>
</html>
